nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid.ms-5.me-5
    a.navbar-brand(href='/')
      img(src='/Images/logo food art.png' alt='logo' width='100px')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .btn-group.dropstart
      button.btn.btn-light.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        | Menu
      ul.dropdown-menu
        li
          a.dropdown-item(href='/menu') Menu
        li
          a.dropdown-item(href='/pictures') Pictures
        li
          a.dropdown-item(href='/restaurant') Restaurant
        li
          a.dropdown-item(href='/contact') Contact