doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title menu
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous')
nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid.ms-5.me-5
    a.navbar-brand(href='/')
      img(src='/Images/logo food art.png' alt='logo' width='100px')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .btn-group.dropstart
      button.btn.btn-light.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        | Menu
      ul.dropdown-menu
        li
          a.dropdown-item(href='/menu') Menu
        li
          a.dropdown-item(href='/pictures') Pictures
        li
          a.dropdown-item(href='/restaurant') Restaurant
        li
          a.dropdown-item(href='/contact') Contact
// menu
.container.mt-5
  .row.ms-5
    .col-12.text-center
      h1 EXQUISITE MENU
    .col-12.text-center
      h3 For all taste
  .container.d-flex.justify-content-center
    img(src='/Images/Pictures/04.png' alt='food art' width='20%')
  .row
    .col-12.mt-5
      ul.list-group
        li.list-group-item.d-flex.justify-content-between.align-items-center
          | Enchanted Forest Feast
          span.badge.bg-dark.text-white.rounded-pill 14 $
        li.list-group-item.d-flex.justify-content-between.align-items-center
          | Mystical Meadow Meal
          span.badge.bg-dark.text-white.rounded-pill 16 $
        li.list-group-item.d-flex.justify-content-between.align-items-center
          | Enchanted Forest Feast
          span.badge.bg-dark.text-white.rounded-pill 16 $
        li.list-group-item.d-flex.justify-content-between.align-items-center
          | Whimsical Woodland Delight
          span.badge.bg-dark.text-white.rounded-pill 24 $
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous')
