doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title menu
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous')
nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid.ms-5.me-5
    a.navbar-brand(href='/')
      img(src='/Images/logo food art.png' alt='logo' width='100px')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .btn-group.dropstart
      button.btn.btn-light.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        | Menu
      ul.dropdown-menu
        li
          a.dropdown-item(href='/menu') Menu
        li
          a.dropdown-item(href='/pictures') Pictures
        li
          a.dropdown-item(href='/restaurant') Restaurant
        li
          a.dropdown-item(href='/contact') Contact
// carousel
#carouselExampleIndicators.carousel.slide
  .carousel-indicators
    button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
    button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
    button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
    button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='3' aria-label='Slide 4')
  .carousel-inner
    .carousel-item.active
      .row
        .col
          img.d-block.w-100(src='/Images/Pictures/01.png' alt='...')
        .col
          img.d-block.w-100(src='/Images/Pictures/02.png' alt='...')
        .col
          img.d-block.w-100(src='/Images/Pictures/03.png' alt='...')
    .carousel-item
      .row
        .col
          img.d-block.w-100(src='/Images/Pictures/04.png' alt='...')
        .col
          img.d-block.w-100(src='/Images/Pictures/05.png' alt='...')
        .col
          img.d-block.w-100(src='/Images/Pictures/06.png' alt='...')
    .carousel-item
      .row
        .col
          img.d-block.w-100(src='/Images/Pictures/07.png' alt='...')
        .col
          img.d-block.w-100(src='/Images/Pictures/08.png' alt='...')
        .col
          img.d-block.w-100(src='/Images/Pictures/09.png' alt='...')
    .carousel-item
      .row
        .col
          img.d-block.w-100(src='/Images/Pictures/10.png' alt='...')
        .col
          img.d-block.w-100(src='/Images/Pictures/11.png' alt='...')
        .col
          img.d-block.w-100(src='/Images/Pictures/12.png' alt='...')
  button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.visually-hidden Previous
  button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.visually-hidden Next
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous')
